<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
  	<div class="container">
  		<%= link_to "sample app", '#', id: "logo" %>
  		<nav>
  			<ul class="nav pull-right">
<<<<<<< HEAD
  				<li><%= link_to "Home",    root_path %></li>
  				<li><%= link_to "Help",    help_path %></li>
  				<li><%= link_to "Sign in", signup_path %></li>
=======
  				<li><%= link_to "Home",    '#' %></li>
  				<li><%= link_to "Help",    '#' %></li>
  				<li><%= link_to "Sign in", '#' %></li>
>>>>>>> 1a28df748d4c8a757009d89a6ceddc0c14c14f4e
  			</ul>
  		</nav>
  	</div>
  </div>
</header>